<!--MENU PRINCIPAL-->
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="https://i.postimg.cc/bYxXJMMk/logo.jpg" 
      width="50" height="60"class="rounded mx-auto d-block" alt="..." class="navbar-brand">
      Asociacion De Fútbol Villa Alegre
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Villa Alegre</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <button class="btn btn-success float-end" routerLink="/login" >Iniciar Sesion</button>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="/quienes-somos">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/informacion">Información Del Club</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendario">Calendario</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tablas
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/goleador">Goleadores</a></li>
              <li><a class="dropdown-item" href="/menos-batida">Valla Menos Batida</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tablas de Posiciones
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/tabla-juvenil">Serie Juvenil</a></li>
              <li><a class="dropdown-item" href="/tabla-cincuenta">Serie 50</a></li>
              <li><a class="dropdown-item" href="/tabla-primera">Primera Serie</a></li>
              <li><a class="dropdown-item" href="/tabla-cuarenta">Serie 45</a></li>
              <li><a class="dropdown-item" href="/tabla-treinta">Serie 35</a></li>
              <li><a class="dropdown-item" href="/posiciones">Serie de Honor</a></li>
            </ul>
          </li>
          <br>
      <br>
        </ul>
        <br>
      </div>
    </div>
  </div>
</nav>
      <br>
  <br>
<br>

<!--CONTENIDO-->
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <br>
          <h3 align="center">QUIENES SOMOS</h3>
          <hr class="border border-success border-3 opacity-50">
        <br>
        <h4 align="center">Somos una asociación de fútbol amateur perteneciente a la region del Maule,</h4>
        <h4 align="center">de la comuna de Villa Alegre.</h4>
        <br>
        <h4 align="center">Nuestra asociación esta conformada por 12 instituciones, Estas son:</h4>
        <br>
        <hr class="border border-success border-3 opacity-50">
        <!--Perales-->
          <img src="https://i.postimg.cc/VkHppcrQ/PERALES.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo Perales</div>
          </div>
        <br>
        <!--Estrella Del Sur-->
          <img src="https://i.postimg.cc/5yqDRYvn/ESTRELLA-DEL-SUR.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo Estrella Del Sur</div>
        </div>
      <br>
        <!--Pataguas-->
          <img src="https://i.postimg.cc/LsGdYM2B/CC-PATAGUAS.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Colo-Colo De Pataguas</div>
        </div>
      <br>
        <!--Esperanza-->
          <img src="https://i.postimg.cc/Dz9DfdPx/ESPERANZA.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo Esperanza</div>
        </div>
      <br>
        <!--Santa Elena-->
          <img src="https://i.postimg.cc/V6txXHNy/CC-SANTA-ELENA.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Colo-Colo Santa Elena</div>
        </div>
      <br>
        <!--Los Batros-->
          <img src="https://i.postimg.cc/nrt62YsX/LOS-BATROS.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo Los Batros</div>
        </div>
      <br>
        <!--Maitencillo-->
          <img src="https://i.postimg.cc/28GPdWC5/MAITENCILLO.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Juventud Maitencillo</div>
        </div>
      <br>
        <!--Molino-->
          <img src="https://i.postimg.cc/rFMBtjXb/MOLINO.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo Molino</div>
        </div>
      <br>
        <!--O'higgins-->
          <img src="https://i.postimg.cc/hGz6q3TJ/OHIGGINS.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo O'higgins</div>
        </div>
      <br>
        <!--Peñasco-->
          <img src="https://i.postimg.cc/0yNhVNN0/PE-ASCO.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo Peñasco</div>
        </div>
      <br>
        <!--River Plate-->
          <img src="https://i.postimg.cc/QCsy18P5/RIVER.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Atletico River Plate</div>
        </div>
      <br>
        <!--San Victor-->
          <img src="https://i.postimg.cc/TwnsKLkf/SAN-VICTOR.jpg" 
          width="200" height="200"class="rounded mx-auto d-block" alt="...">
          <div class="grid text-center">
          <div class="g-col-6">Club Deportivo San Victor</div>
        </div>
      <br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!--PIE DE PAGINA-->
<div align="center" ><img src="https://www.meteored.cl/wimages/foto6af28bd052d0881c73e6c3436a4fcfe4.png"></div>
      <br>