<!--MENU PRINCIPAL-->
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="https://i.postimg.cc/bYxXJMMk/logo.jpg" 
      width="50" height="60"class="rounded mx-auto d-block" alt="..." class="navbar-brand">
      Asociacion De Fútbol Villa Alegre
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Villa Alegre</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <button class="btn btn-success float-end" routerLink="/login" >Iniciar Sesion</button>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="/quienes-somos">Quienes Somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/informacion">Información Del Club</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calendario">Calendario</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tablas
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/posiciones">Posiciones</a></li>
              <li><a class="dropdown-item" href="/goleador">Goleadores</a></li>
              <li><a class="dropdown-item" href="/menos-batida">Valla Menos Batida</a></li>
              <li><a class="dropdown-item" href="/suspension">Suspensiones</a></li>
            </ul>
          </li>
          <br>
      <br>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contactanos</a>
          </li>
        </ul>
        <br>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</nav>
      <br>
  <br>
<br>

  <!--CONTENIDO-->
<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body">
            <br>
            <img src="https://i.postimg.cc/TwnsKLkf/SAN-VICTOR.jpg" 
                    width="200" height="200"class="rounded mx-auto d-block" alt="...">
                    <br>
            <h3 align="center">Club Deportivo San Victor</h3>
            <hr class="border border-success border-3 opacity-50">
          <br>
          <p class="lead">
            Club Fundado el año xxxx, perteneciente a la Asociación de Villa Alegre
          </p>
          <br>
          <hr class="border border-success border-3 opacity-50">
          <p class="lead">
            Diregentes:
          </p>
          <br>
          <hr class="border border-success border-3 opacity-50">
          <p class="lead">
            Equipación:
          </p>
          <br>
          <hr class="border border-success border-3 opacity-50">
          <p class="lead">
            Galería De Fotos
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

<!--PIE DE PAGINA-->
<div align="center" ><img src="https://www.meteored.cl/wimages/foto6af28bd052d0881c73e6c3436a4fcfe4.png"></div>
      <br>
