<!--CONTENIDO-->
<br>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <h2 align="center">{{titulo | uppercase }}</h2>
                    <br>
                    <form class="mt-3" [formGroup]="JugadorForm" (ngSubmit)="agregarjugador()">
                        <div class="form-floating">
                            <input type="text" maxlength="12" formControlName="rut_jugador"
                            class="form-control form-control-lg">
                            <label for="floatingTextarea2">Rut Jugador (11.111.111-1)</label>
                            <div class="text-danger"
                                *ngIf="JugadorForm.get('rut_jugador')?.hasError('required')
                                && JugadorForm.get('rut_jugador')?.touched">
                                <span>El RUT del Jugador es <strong>Obligatorio</strong></span>
                            </div>
                          </div>
                          <br>
                          <div class="form-floating">
                            <input type="text" formControlName="nombres"
                            class="form-control form-control-lg" placeholder="Nombres">
                            <label for="floatingTextarea2">Nombre</label>
                            <div class="text-danger"
                            *ngIf="JugadorForm.get('nombres')?.hasError('required')
                            && JugadorForm.get('nombres')?.touched">
                            <span>El Nombre del Jugador es <strong>Obligatorio</strong></span>
                           </div>
                          </div>
                          <br>
                          <div class="form-floating">
                            <input type="text" formControlName="apellidos"
                            class="form-control form-control-lg" placeholder="Apellidos">
                            <label for="floatingTextarea2">Apellidos</label>
                            <div class="text-danger"
                            *ngIf="JugadorForm.get('apellidos')?.hasError('required')
                            && JugadorForm.get('apellidos')?.touched">
                            <span>El Apellido del Jugador es <strong>Obligatorio</strong></span>
                        </div>
                          </div>
                          <br>
                          <div class="form-floating">
                            <input type="date" formControlName="fecha_nacimiento"
                             class="form-control form-control-lg" placeholder="Fecha De Nacimiento">
                             <label for="floatingTextarea2">Fecha De Nacimiento</label>
                             <div class="text-danger"
                            *ngIf="JugadorForm.get('fecha_nacimiento')?.hasError('required')
                            && JugadorForm.get('fecha_nacimiento')?.touched">
                            <span>La Fecha de Nacimiento del Jugador es <strong>Obligatoria</strong></span>
                        </div>
                          </div>
                          <br>
                         <div class="mb-3">
                          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                          formControlName="club">
                            <option *ngFor="let club of listaClub" [value]="club.id_club | number">
                              {{club.nombre_club}}</option>
                          </select>
                        </div>
                          <div class="mb-3">
                          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
                          formControlName="serie">
                            <option *ngFor="let serie of listaSerie" [value]="serie.id_serie | number">
                              {{serie.nombre_serie}}</option>
                          </select>
                        </div>
                          <br>
                          <div class="mb-3">
                            <button type="submit" class="btn btn-success btn-lg float-start"> Confirmar </button>
                            <button routerLink="/jugadores" class="btn btn-secondary btn-lg float-end"> Volver </button>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <br>
<br>
